.a{background-image: url(imagesbackground/5-13050GT112.jpg);height: 130px;width: 1200px;margin-left: 80px;}
.log{font-size:80px;font-family: "幼圆";color: yellow;position: 400px,400px;padding-top: 13px;padding-left: 450px;}
.p{color: #FF6699;font-family: "华文彩云";}.o{color:#99CCFF;font-family: "华文彩云";}.q{color: white;font-family: "华文彩云";}
.h-i{margin-left: 10px;margin-top: -95px;}
.wenzi1{margin-top: -95PX;margin-left: 140PX;font-size: 25px;font-family:"方正舒体";}
.r{color: white;font-family:"华文琥珀"; font-size: 40px;}
.s{color: yellow;font-family:"华文行楷";font-size: 30px;}
#header li{display: inline;}
.user {margin-left:880px;margin-top: -100px;}
 a:link{text-decoration-line: none;}
.search{margin-left: 920px;margin-top: 10px;}
.b{background-image: url(imagesbackground/84026f903f7bef02ea841b523452dabd.jpeg);height: 30px;width:1200px;margin-left: 80px;margin-top: -23px;}
.daohang{margin-left: 35px;font-size: 22px;font-family: "华文琥珀";color:orange;}
.daohang li a{color: orange;}
#content{background-image: url(imagesbackground/d1f4af0b982ef20b57ed02923f08f3f7.jpg);width: 1200px;margin-left: 80px;height: 1430px;background-size: 100% 100%;}
.zhengwen{margin-left: 290px;width: 630px;}
.breadcrumb li{display: inline;}
.bc{width: 500px;height: 70px;margin-left: -290px;}
p{color: grey;}
.chatu1{width: 240px;height: 220px;float: left;margin-left: 20px;}
.chatu2{width: 300px;height: 220px;float: left;margin-left: 40px;}
.zhongdian{color: #FF6666;}
.chatu3{height: 220px;width: 190px;float: left;}
.da1{width: 110px;height: 100px;float: left;margin-top: 10px;}
.p1{width: 50px;height: 80;float: left;margin-top: 40px;}

.p2{width: 40px;height: 80;float: left;margin-top: 40px;}
.da2{width: 100px;height: 100px;float: left;margin-top: 10px;}
.pinglun{height: 230px;width:630px;margin-top: 110px;background-color: #eaf9f9}
.pingzuo{height: 200px;width: 300px;float: left;padding-left: 20px;padding-top: 10px;}
.pingyou{height: 200px;width: 300px;float: left;}

#footer{background-color: #cce5e1;height: 140px;width: 1200PX;margin-left: 80px;margin-top: -10px;background-image: url(imagesbackground/Inkeddd_LI.jpg);}
.banquan{color: grey;margin-left: 380px;padding-top: 30px;}
.zuihou{font-family: "方正舒体";font-size: 35px;color:#ed5ecb ;margin-left: 370px;}
.last{margin-left: 120px;margin-top:-100px;}
.xiaoliu{color: #c1ef81;font-size:25px;}
