.a{background-image: url(imagesbackground/5-13050GT112.jpg);height: 130px;width: 1200px;margin-left: 80px;}
.log{font-size:80px;font-family: "幼圆";color: yellow;position: 400px,400px;padding-top: 13px;padding-left: 450px;}
.p{color: #FF6699;font-family: "华文彩云";}.o{color:#99CCFF;font-family: "华文彩云";}.q{color: white;font-family: "华文彩云";}
.h-i{margin-left: 10px;margin-top: -95px;}
.wenzi1{margin-top: -95PX;margin-left: 140PX;font-size: 25px;font-family:"方正舒体";}
.r{color: white;font-family:"华文琥珀"; font-size: 40px;}
.s{color: yellow;font-family:"华文行楷";font-size: 30px;}
#header li{display: inline;}
.user {margin-left:880px;margin-top: -100px;}
 a:link{text-decoration-line: none;}
.search{margin-left: 920px;margin-top: 10px;}
.b{background-image: url(imagesbackground/84026f903f7bef02ea841b523452dabd.jpeg);height: 30px;width:1200px;margin-left: 80px;margin-top: -23px;}
.daohang{margin-left: 35px;font-size: 22px;font-family: "华文琥珀";color:orange;}
.daohang li a{color: orange;}
#content{background-color: #CCCFFF;height: 800PX;width: 1200PX;margin-left: 80px;}
.zhongzuo{width: 870px;float: left;}
.wenzi2{font-size: 40px;font-family: "华文行楷";margin-left: 80px;padding-top: 20px;}
.xiao{color: grey;font-size: 20px;}
.datu{background-image: url(imagesbackground/61ed9de9636696037280c8eaa7db41cd.jpg);width: 830px;height: 500px;margin-top: 0px;}
.da1{margin-left: 130px;padding-top:100px; }
.da2{margin-left: 445px;margin-top: -300px;}
.zuhetu{margin-left: 60px;}
.zu1{width: 200px;height: 200px;display: inline; }
.zu2{width: 160px;height: 160px;display: inline;margin-left:50px;}
.zu3{width: 160px;height: 160px;display: inline;margin-left:20px;}
.tu2wen{margin-left: -170px;font-family: "华文隶书";color:yellow;font-size: 25px;}
.tu1wen{margin-left: -210px;font-family: "华文隶书";color:yellow;font-size: 25px;}
.zhongyou{float: left;height: 800px;width: 330px;background-image: url(imagesbackground/3528242-lips.jpg);}
.wenzi3{width:280px;margin-left:30px;line-height: 30px;}
.xiaobiaoti a{font-size: 30px;margin-left: 120px;color: black;}.xiaobiaoti{margin-top:20px;}
.kongwen{width:280px;margin-left:30px;line-height: 30px;}
.weidian{margin-left: 80px;margin-top: 0px;}
#footer{background-color: #cce5e1;height: 140px;width: 1200PX;margin-left: 80px;margin-top: -0px;background-image: url(imagesbackground/Inkeddd_LI.jpg);}
.banquan{color: grey;margin-left: 380px;padding-top: 30px;}
.zuihou{font-family: "方正舒体";font-size: 35px;color:#ed5ecb ;margin-left: 370px;}
.last{margin-left: 120px;margin-top:-100px;}