.a{background-image: url(imagesbackground/5-13050GT112.jpg);height: 130px;width: 1200px;margin-left: 80px;}
.log{font-size:80px;font-family: "幼圆";color: yellow;position: 400px,400px;padding-top: 13px;padding-left: 450px;}
.p{color: #FF6699;font-family: "华文彩云";}.o{color:#99CCFF;font-family: "华文彩云";}.q{color: white;font-family: "华文彩云";}
.h-i{margin-left: 10px;margin-top: -95px;}
.wenzi1{margin-top: -95PX;margin-left: 140PX;font-size: 25px;font-family:"方正舒体";}
.r{color: white;font-family:"华文琥珀"; font-size: 40px;}
.s{color: yellow;font-family:"华文行楷";font-size: 30px;}
#header li{display: inline;}
.user {margin-left:880px;margin-top: -100px;}
 a:link{text-decoration-line: none;}
.search{margin-left: 920px;margin-top: 10px;}
.b{background-image: url(imagesbackground/84026f903f7bef02ea841b523452dabd.jpeg);height: 30px;width:1200px;margin-left: 80px;margin-top: -23px;}
.daohang{margin-left: 35px;font-size: 22px;font-family: "华文琥珀";color:orange;}
.daohang li a{color: orange;}
#content{background-color: #f7d979;width:1200px;margin-left: 80px;height: 970px;margin-top: -20px; }
.zhengwen{width:1200px;height: 970px; margin-top: 0px;}
.breadcrumb li{display: inline;}
.bc{width: 500px;height: 70px;}
.Q1{width: 330px;height: 250px;margin-top: -60px;margin-left: 50px;float: left;}
.bg{width:330px;height:40px;font-size: 23px;padding-top: 20px;font-family: "黑体";font-weight: 900;font-style: oblique;}
.gengduo{width: 100px;height: 50px;padding-left: 270px;margin-top: -35px;font-size: 15px;}
.q1{background-image: url(imagesbackground/u=945887430,393333749&fm=72.jpg);width: 330px;height: 250px;padding-top: -20px;padding-left: 20px;background-size: 100% 100%;}
.qtu{width: 330px;height:120px;padding-top: 40px;padding-left: 20px;}
.qwenzi{padding-left: 20px;padding-top: 30px;width:330px;height:80px;}
.Q2{width: 330px;height: 250px;margin-top: 55px;margin-left: 50px; float:left;}
.lis{width: 500px;height: 310px;padding-top: :-100px;margin-left: 50px;float: left;}.lis a{font-size: 18px;text-decoration:underline;color: white; }.lis li{line-height: 30px;}
.shijian{float: right;color: grey;}
.lp{width: 600px;margin-left: 610px;height: 310px;margin-top: -180px;}
.shuzi{width: 50px;font-size: 30px;font-family: "华文彩云";font-weight: 900;font-style: oblique;height: 280px;float: left;margin-top: 180px;}
.ll{width: 420px;height:280px;float: left;margin-top: 110px;margin-left: 20px;}
.xiao1{width: 420px;height: 120px;display: inline;margin-top: 30px;}
#footer{background-color: #cce5e1;height: 240px;width: 1200PX;margin-left: 80px;margin-top: 0px;background-image: url(imagesbackground/Inkeddd_LI.jpg);}
.banquan{width:600px;height:50px;padding-top: 60px;margin-left:400px;color: grey;}
.last{margin-left:140px;margin-top:-50px;}
.en{color:#FF1493;font-size: 30px;font-family: "华文彩云"}